.container-fluid {
    form {
        padding-bottom: 3rem;
        margin-top: 3rem;
        border-radius: 0.5rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        background: white;
        .form-card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #22d1ee;
            border-radius: 0.5rem 0.5rem 0 0; 
        }
        .text-area-wrapper {
            margin-left: 3rem;
            margin-right: 3rem;
        }
        .inputs-wrapper {
            margin-top: 2rem;
            margin-left: 3rem;
            margin-right: 3rem;
            .form-group {
                text-align: center;
                margin-left: 0.62rem;
                margin-right: 0.62rem;
            }
        }
    }
}
