.container-fluid{  
   
    .row-home{    
        width: auto;          
        .sidebar{                 
            border-right: 1px solid #22d1ee;
            height: 100%;
            width: 100%;  
            padding-left: 0.5rem;    
            padding-right: 0.5rem;                 
        }
        .details{
            margin: 0 auto;
        }
    }
}

