.container-fluid{    
    .row-home{    
        width: auto;          
        .sidebar{                 
            border-right: 1px solid #22d1ee;
            height: 100%;
            width: 100%;  
            padding-left: 0.5rem;    
            padding-right: 0.5rem;                 
        }
        .details{
             overflow: scroll;
             height: 100vh;
             .informative-title{
                 font-family: 'Comfortaa', cursive;
                 font-weight: 700;
             }
            .button-wrapper {
                display: flex;
                justify-content: flex-end;
                margin-top: 2rem;
                height: 50px;
                width: auto;
            }
            margin: 0 auto;
        }
    }
}

/****************************************** Tablet *************************************************/
@media (max-width: 768px) {
	.container-fluid .row-home .details {     
        height: 45rem;       
    }
}

/****************************************** phone *************************************************/

@media (max-width: 485px) {
   .container-fluid .row-home .details {     
       margin-bottom: 7rem;       
    }
} 

