.container-fluid{  
   
    .row-home{    
        width: auto;          
        .sidebar{                 
            border-right: 1px solid #22d1ee;
            height: 100%;
            width: 100%;  
            padding-left: 0.5rem;    
            padding-right: 0.5rem;                 
        }
        .details{
             overflow: scroll;
             height: 100vh;
            .button-wrapper {
                display: flex;
                justify-content: flex-end;
                margin-top: 2rem;
                height: 50px;
                width: auto;
            }
            margin: 0 auto;
        }
    }
}

