.movieDetail-wrapper {
    .button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
        height: 50px;
        width: auto;
    }
    .wrapper-card {
        margin: 0 auto;
        
        .movieDetail-col {
           
            .movieDetail-card {
                margin: 0 auto;

                .card-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background:#f7f7f7;
                }
                .card-img-top{
                    margin-top:3px;
                }
            }
        }
    }
}
