.movieDetail-wrapper{
   
    height: 400px;
    .button-wrapper{
        display: flex;
    justify-content:flex-end;
        margin-top: 2rem;
        height: 50px;
        width: auto;
       
    }
    .card-wrapper{
        margin-top: 5rem;
       
    }
}