.list-movies{   
    height: 100vh;
    width: auto;
    // margin-top: 0;
    overflow: scroll;
}

/****************************************** Tablet *************************************************/
@media (max-width: 768px) {
	

    
}

/****************************************** phone *************************************************/

@media (max-width: 485px) {
   
} 
