.wrapper-card {
    margin-top: 2rem;
    .card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        width: 97%;
        cursor: pointer;
        .wrapper-delete {
            display: flex;
            justify-content: flex-end;
            padding-right: 1rem;
            padding-top: 1rem;
            .fa-trash-alt {
                background: rgb(245, 56, 56);
                padding: 0.5rem;
                border-radius: 5px;
                color: white;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                cursor: pointer;
            }
        }
        .card-body {
            padding-top: 0;
        }
    }
}

.focus{
    background: red;
}

.no-focus{
    background: yellow;
}